
.achivments{ 
  background: #30124E;
  margin-top: -5%;
  padding: 15% 0; 
  z-index: 1;

  &-container{  
    .achivments-about{
     & h2{
      color: #F61067;
    }

    & h3{
      width: 60%;
      font-family: 'Mplus-Regular';
      font-style: normal;
      font-weight: 500;
      font-size: 1.688rem;
      line-height: 2.5rem;
      color: #FCFCFC;
    }
  }        
    .achivments-block{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top:5%;
    
      .achivment-item{
        width: 30%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        padding: 5% 3%;
        &:hover{
          cursor: pointer;
          background: #F61067;
        }
        & p,h2,h3{ 
          color: #FCFCFC;
          font-family: 'Mplus-Regular';
        }
      }
    }
  }
}
@media (max-width: 960px){  
  .achivments{padding-left:25px}
  .achivments-block{ padding-right: 25px;}

   
}

@media (max-width: 720px){
  .achivments-container .achivments-block .achivment-item{ 
    width: 90%;
  }
  .achivments{padding-left:25px} 
}

@media (max-width: 540px){  
  .achivments-container .achivments-block .achivment-item{   
    width: 90%;  
   } 
   .achivments{padding-left:25px}   
}



