@import '../fonts/fonts.css';

.benefits{
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 13%; 

  &-about{
    width:30%;   

    & h2{  
      color: #F61067;
      text-transform: uppercase;
    }
    & img{
      margin-top: 3%;

      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
  
  &-img{  
    &-first{
      background-repeat:no-repeat;
     
      position: absolute;
      right: 23%;
      top: 54%;
      z-index: 99;
    }
    &-second{
      background-repeat:no-repeat ;
      position: absolute;
      right: 8%;
      top: 5%;
      z-index: 1;
    }
  } 
}


@media (max-width: 960px){ 
  .benefits-about{
    
    width: 100%;      
     & h3,h2,p{width: 80%;}
   }  
  .benefits-img{display:none}
  .benefits{padding-left:25px}
}  

@media (max-width: 720px){
  .benefits-about{
    
    width: 100%;    
      & h3,h2,p{ width: 80%; }      
    }
  .benefits-img{display:none}
  .benefits{padding-left:25px}
  
}

@media (max-width: 540px){  
  .benefits-about{
    
    width: 100%;     
     & h3,h2,p{width: 80%;}
   }
  .benefits-img{display:none}
  .benefits{padding-left:25px}
  
}



