
.header-burger{
  position: relative;
  width: 25px;
  height: 17px;
  color: #FCFCFC;
  padding:2%;
  display: none;
  
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

.burger-drawer{ 
  position: absolute;
  top: 3%;
  right: 0;
  width: 0;
  height: 100%;
  background: #F61067;
  opacity: 0.7;
}
.burger-drawer.active{
  width: 300px;
}

.delete-img{
  width: 10%;
  height: 4%;
  color: #30233D;

  &:hover{      
      cursor: pointer;      
  }
}

.burger-drawer .menu{
  display: flex;
  flex-direction: column;

  &-item{
    color:#30233D;
    padding: 2%;
    border: none;

    &:hover{
      font-weight: 900;
      background: #30233D;
      color:#F61067      
    }  
  }
}


@media screen and (max-width: 768px) and (min-width: 640px) {  
  .header-burger{display: block}
  

  }

@media screen and (max-width: 640px) and (min-width: 320px){ 
  .header-burger{display: block}

  }
 

