@import '../fonts/fonts.css';

.clients{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10rem;
}
.clients-title{
  margin-left: 5rem;
}

.clients-title h3{
  color: #F61067;
}

.clients-about{
  width: 38%;
  background: #150433;
  padding: 6rem 4rem;
}

.clients-about p{
  width: 80%;
  font-family: 'Mplus-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem; 
  color: #FCFCFC;
}

.clients-about h3{
  color: #F61067;
  font-size: 2rem;  
}
.clients-list{
  width: 45%; 
}
.clients-list-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.clients-list-block img{
  padding: 5rem 1rem 2rem 0;
}
.clients-list-item{
  width: 50%;
}