@import '../fonts/fonts.css';

.features{
 
  &-title{
   background: #5E239D;
   padding: 5% 0;
    & h2, h3{
      color:#FCFCFC;
      padding-left: 7%;
    }
  }

  &-blocks{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;   

    .first-block, .second-block, .third-block  {
      width: 29%;
      display: flex;
      flex-direction: column;
    }

    .first-block{
      flex-basis:25%;

      &-item{        
        font-size: 1.588rem; 
        padding: 38% 19%;    
        color:#F61067; 
        letter-spacing: 0.1rem;
        line-height: 2.5rem;         
      }
    }

    .second-block{
        flex-basis:35%;

        &-item-1, &-item-2, &-item-3 {      
        padding: 25.5% 9%;
        color: #F4F4ED;

        &:hover{
          margin-left: -10%;
          cursor: pointer;         
        }
      }
      &-item-1{
        background: #5E239D;        
      }
      &-item-2{
        background: #30124E;        
      }
      &-item-3{
        background: #150433;        
      }          
    }

    .third-block{
      flex-basis:25%;
      
      & img{
        margin-top: -15%;
      }  
    }
  }
}