@import '../fonts/fonts.css';

header{
  height: 750px;
  background: url('../img/Photo.png'); 
}

.header-block{
  padding-top: 3.688rem;
  display: flex;
  justify-content: space-around;  
}

.header-contact{
  position: relative; 
  font-family: 'Mplus-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 2px;
  color: #FCFCFC;
  opacity: 0.8;  
 }

.header-contact::before{
  content: url('../img/Vector.png'); 
  position: absolute;
  top:1px;
  left:-31px; 
}

.header-burger{
  width: 1.3rem;
  height: 1rem;
  color: #FCFCFC;
}

.header-burger:hover{
  cursor: pointer;
  opacity: 0.8;
}

.header-content{
  width: 43rem;
  margin: 7rem 0  0 5rem;
  position: relative;

}

.header-content h3{
  font-family: 'Mplus-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.875rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-bottom: 2rem;  
}

.header-content h1{
  font-family: 'Mplus-Regular';
  font-style: normal;
  font-weight: 900;
  font-size: 6.188rem;
  line-height: 7.375rem;
  color: #FCFCFC;
  margin: 0;
  padding-bottom:2rem;
}

.header-content h1 span{
  color: #F61067;
}

.subheader {
  padding: 2rem 10rem;     
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;  
  margin-left: -8rem;
}

.subheader p{
  position: relative;
  font-family: 'Mplus-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.813rem;  
  color: #FCFCFC;
  width: 600px;  
}
.subheader p::after{
  content: url('../img/Arrow.png');
  position: absolute;
  top: -7px;
  right: -14px;  
  cursor: pointer;  
}

.header-scroll p{
  position: absolute;
  top: 150px;
  right: -595px;
  font-family: 'Mplus-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 0.788rem;
  line-height: 1.625rem;
  letter-spacing: 0.375rem;
  text-transform: uppercase;
  color: #FCFCFC;
  transform: rotate(90deg);
}

.header-scroll p::after{
  content: url('../img/scroll.png');   
  cursor: pointer;
  display: inline-block
}



