@import '../fonts/fonts.css';

.menu{
  display: flex;
  justify-content: space-between; 
}

.menu-item{
  font-family: 'Mplus-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #FCFCFC;
  opacity: 0.8;
  padding: 0 1rem; 
  text-decoration: none;
  border-bottom: 3px rgba(111, 108, 110, 0.003) solid;
}
a:hover{
  cursor: pointer;
  color:#FCFCFC;
  border-bottom: 3px solid #FCFCFC;
}