@import '../fonts/fonts.css';

.workpage{
  .aboutpage-headline{
    background: url('../img/PhotoWork.png');
    height: 360px;
  } 
  & .quote{
    display: none;
  }
  & .service-block{
    display: none;
  }
  & .service-title{
    text-align: center;
    width: 100%;
    padding: 10% 0;

    & .subtitle, .about{     
      padding: 0 25%;        
    }
  }    

  &-team{                
    column-count:2; 
    background: #150433;
    padding-bottom: 20%;     

    &-container{     
      position: relative;
      padding: 1% 10%;          

      &:hover>&-info{
        cursor: pointer;
        display: block;      
      }      

      &-photo{
        padding: 5% 5%;
        // & .photo-1{
        //   margin-top: -100px;
        // }          
      }

      &-info{
        position:absolute;
        top: 32px;
        left: 92px;
        width: 420px;
        height: 462px;
        background: #5E239D;
        cursor: pointer;        
        display:none; 
        padding: 0 5%;     

        & h3,p,span{
          font-family: 'Mplus-Regular';
          letter-spacing: 0.1rem;
          color:#FCFCFC;
        }
        & span{
          text-transform: uppercase;
        }
      }       
    }   
  }

  & .aboutpage-quote {
      margin-top: -1%;
  }
}